.iconGroup {
  background-color: #222;
  padding: 10px;
  overflow: hidden;
}

.iconGroup > div {
  background-color: white;
  float: left;
  margin: 10px;
  padding: 10px;
  height: 70px;
  width: 70px;
}

/* Icons */

/* Shrinking Spinner */

.shrinkingSpinner {
  animation: spin 1s linear infinite, shrink 3s linear infinite alternate;
  border-color: blue;
  border-radius: 50%;
  border-top: 2px solid blue;
  height: 100%;
  width: 100%;
}

@keyframes spin {
  100% {transform: rotate(360deg);}
}

@keyframes shrink {
  100% {
    margin: 20px;
    height: 30px;
    width: 30px;
  }
}

/* Triangle Spinner */

.triangleSpinner {
  animation: borderSpin 1.5s linear infinite;
  border: 36px solid transparent;
}

@keyframes borderSpin {
  0%, 100% {
    border-bottom-color: rgba(0, 0, 255, 0.75);
    border-left-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0.5);
    border-top-color: rgba(0, 0, 255, 0.25);
  }
  25% {
    border-bottom-color: rgba(0, 0, 255, 0.5);
    border-left-color: rgba(0, 0, 255, 0.75);
    border-right-color: rgba(0, 0, 255, 0.25);
    border-top-color: rgba(0, 0, 255, 0);
  }
  50% {
    border-bottom-color: rgba(0, 0, 255, 0.25);
    border-left-color: rgba(0, 0, 255, 0.5);
    border-right-color: rgba(0, 0, 255, 0);
    border-top-color: rgba(0, 0, 255, 0.75);
  }
  75% {
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0.25);
    border-right-color: rgba(0, 0, 255, 0.75);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
}

/* Circle Spinner */

.circleSpinner,
.circleSpinner2 {
  background: inherit;
  position: relative;
  height: 100%;
  width: 100%;
}

.circleSpinner > div,
.circleSpinner2 > div {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 1;
}

.circleSpinner > .spinner,
.circleSpinner > .filler,
.circleSpinner2 > .spinner,
.circleSpinner2 > .filler {
  border: 2px solid blue;
}

.circleSpinner > .spinner,
.circleSpinner2 > .spinner {
  border-radius: 35px 0 0 35px;
  border-right: none;
  transform-origin: 100%;
}

.circleSpinner > .filler,
.circleSpinner2 > .filler {
  border-left: none;
  border-radius: 0 35px 35px 0;
  left: 50%;
  transform-origin: 0%;
}

.circleSpinner > .mask,
.circleSpinner2 > .mask {
  background: inherit;
  transform-origin: 100%;
}

.circleSpinner > .spinner {
  animation: spin-and-flip 4s ease-in-out infinite;
}

.circleSpinner > .filler {
  animation:
    show 2s steps(1, end) infinite alternate,
    flip 4s steps(1, end) infinite;
}

.circleSpinner > .mask {
  animation:
    show 2s steps(1, end) infinite alternate-reverse,
    flip 4s steps(1, end) infinite;
}

@keyframes show {
  0% {opacity: 0;}
  50% {opacity: 1;}
}

@keyframes flip {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
}

@keyframes spin-and-flip {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(360deg);}
  50.01% {transform: rotate(-180deg);}
  100% {transform: rotate(180deg);}
}

/* Cirlce Spinner 2 */

.circleSpinner2 > .spinner {
  animation: spin 4s linear infinite;
}

.circleSpinner2 > .filler {
  animation:
    show 4s steps(1, end),
    spin 4s linear 3.7s infinite;
    opacity: 1;
}

.circleSpinner2 > .mask {
  animation: show 4s steps(1, end) reverse;
  opacity: 0;
}

/* Square Spinner */

.squareSpinner {
  position: relative;
  height: 100%;
  width: 100%;
}

.squareSpinner > .top,
.squareSpinner > .bottom,
.squareSpinner > .left,
.squareSpinner > .right {
  background-color: blue;
  position: absolute;
}

.squareSpinner > .top,
.squareSpinner > .bottom {
  height: 3px;
}

.squareSpinner > .left,
.squareSpinner > .right {
  width: 3px;
}

.squareSpinner > .top {
  animation:
    grow-width 4s forwards linear infinite,
    flip-horizontal 4s steps(1, end) infinite;
  left: 0;
  top: 0;
}

.squareSpinner > .right {
  animation:
    grow-height 4s forwards linear 0.5s infinite,
    flip-vertical 4s steps(1, end) infinite;
  right: 0;
  top: 0;
}

.squareSpinner > .bottom {
  animation:
    grow-width 4s forwards linear 1s infinite,
    flip-horizontal 4s steps(1, end) infinite reverse;
  bottom: 0;
  right: 0;
}

.squareSpinner > .left {
  animation:
    grow-height 4s forwards linear 1.5s infinite,
    flip-vertical 4s steps(1, end) infinite reverse;
  bottom: 0;
  left: 0;
}

@keyframes grow-width {
  0% {width: 0;}
  12.5% {width: 100%;}
  25% {width: 100%;}
  37.5% {width: 100%;}
  50% {width: 100%;}
  62.5% {width: 0;}
  75% {width: 0;}
  87.5% {width: 0;}
  100% {width: 0;}
}

@keyframes grow-height {
  0% {height: 0;}
  12.5% {height: 100%;}
  25% {height: 100%;}
  37.5% {height: 100%;}
  50% {height: 100%;}
  62.5% {height: 0;}
  75% {height: 0;}
  87.5% {height: 0;}
  100% {height: 0;}
}

@keyframes flip-horizontal {
  0% {
    left: 0;
    right: initial;
  }
  50% {
    left: initial;
    right: 0;
  }
}

@keyframes flip-vertical {
  0% {
    top: 0;
    bottom: initial;
  }
  50% {
    top: initial;
    bottom: 0;
  }
}
