.iconGroup {
  background-color: #222;
  padding: 10px;
  overflow: hidden;
}

.iconGroup > div {
  background-color: white;
  float: left;
  margin: 10px;
  padding: 10px;
}

/* Icons */

.shrinkingSpinner {
  animation: spin 1s linear infinite, shrink 3s linear infinite alternate;
  border-color: blue;
  border-radius: 50%;
  border-top: 2px solid blue;
  height: 70px;
  width: 70px;
}

@keyframes spin {
  100% {transform: rotate(360deg);}
}

@keyframes shrink {
  100% {
    margin: 20px;
    height: 30px;
    width: 30px;
  }
}

.triangleSpinner {
  animation: borderSpin 1.5s linear infinite;
  border: 36px solid transparent;
}

@keyframes borderSpin {
  0%, 100% {
    border-bottom-color: rgba(0, 0, 255, 0.75);
    border-left-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0.5);
    border-top-color: rgba(0, 0, 255, 0.25);
  }
  25% {
    border-bottom-color: rgba(0, 0, 255, 0.5);
    border-left-color: rgba(0, 0, 255, 0.75);
    border-right-color: rgba(0, 0, 255, 0.25);
    border-top-color: rgba(0, 0, 255, 0);
  }
  50% {
    border-bottom-color: rgba(0, 0, 255, 0.25);
    border-left-color: rgba(0, 0, 255, 0.5);
    border-right-color: rgba(0, 0, 255, 0);
    border-top-color: rgba(0, 0, 255, 0.75);
  }
  75% {
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0.25);
    border-right-color: rgba(0, 0, 255, 0.75);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
}
