.iconGroup {
  background-color: #222;
  overflow: hidden;
}

.iconGroup > div {
  background-color: white;
  float: left;
  margin: 10px;
  padding: 10px;
}

/* Icons */

.shrinkingSpinner {
  animation: spin 1s linear infinite, shrink 3s linear infinite alternate;
  border-color: blue;
  border-radius: 50%;
  border-top: 2px solid blue;
  height: 70px;
  width: 70px;
}

@keyframes spin {
  100% {transform: rotate(360deg);}
}

@keyframes shrink {
  100% {
    margin: 20px;
    height: 30px;
    width: 30px;
  }
}
