body {
  height: 100%;
  margin: 0;
  position: fixed;
  width: 100%;
}

.header {
  background-color: red;
  height: 70px;
  margin: 10px;
  padding: 10px;
}

.header .tab, .header .logo {
  background-color: white;
  height: 100%;
  width: 125px;
}

.header .tab {
  float: right;
  margin-left: 10px;
  position: relative;
}

.header .tab .dropdown {
  background-color: blue;
  display: block;
  height: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  transition: height .5s ease-in-out;
}

.header .tab:hover .dropdown {
  height: 200px;
}

.header .logo {
  float: left;
}

.content {
  background-color: red;
  height: 200px;
  left: -200px;
  position: absolute;
  top: calc(20% + 90px);
  width: 200px;
  transition: left 1s ease-in;
}

.content:target {
  left: calc(50% - 100px);
  transition: left 1s ease-out 1.5s;
}
